@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lavishly+Yours&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lavishly+Yours&family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212428;
    list-style-type: none;
    scroll-behavior: smooth;
}

.navbar .container-fluid{
    background: none;
    padding: 8px 15px;
}
.navbar .container-fluid button span i{
    color: #FFFFFF;
}

.navbar .container-fluid .navbar-brand {
    color: #B5BFCC;
    font-family: Pacifico;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    margin-left: 10px;
}
.navbar .container-fluid .navbar-brand span{
    background: linear-gradient(180deg, #FF9C1A 0%, #ED250A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Pacifico;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar .container-fluid ul{
    background: none;
}
.navbar .container-fluid ul li{
    background: none;
    border: none;
    border-radius: 5px;
    text-align: center;
}


.navbar .container-fluid .collapse ul li a{
    background: none;
    margin: 8px 15px;

    font-size: 14px;
    color: #B5BFCC;
}

                        /* Hover */


.navbar .container-fluid .collapse ul li:hover{
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1.05);
    transition: all 0.42s;
    border: 2px solid #FD8A18;
}
.navbar .container-fluid .collapse ul li a:hover{
    color: #FD8A18;
}


.list-group1 button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.42s;
}


                        /* Hover */

.container-fluid .overall{
    background-color: #212428;
}



            /* Left-side Details */
.overall.col-md-4{
    background-color: #212428;
}
.col-md-4 div{
    text-align: center;
    border-radius: 20px;
    background-color: #212428;
    padding-top: 20px;
}

.col-md-4 img{
    width: 120px;
    height: 160px;
    background: none;
}

.col-md-4 h5{
    margin-top: 10px;
    text-align: center;
    background-color: #212428;
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.525px; /* 125% */
}
.changecontent::after{
    content: '';
    color: aqua;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
    font-family: Raleway;
    font-weight: 700;
    font-size: 20px;
}
@keyframes changetext{
    0% {content:"UI/UX Designer.";}
    50% {content:"Front-End Developer.";}
}

.col-md-4 h5 span{
    margin-top: 10px;
    text-align: center;
    background-color: #212428;
    background: #E80505;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35.525px; /* 125% */
}
.col-md-4 p{
    text-align: center;
    background-color: #212428;
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}


div .card-body1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9.095px;
    background-color: #212428;
    margin-top: -30px;
    margin-bottom: 10px;
}
div.card-body1 li{
    padding: 12.671px 18.806px;
    gap: 8.269px;
    border-radius: 8.269px;
    background: #212428;
}

div.card-body1 li a i{
    background:none;
    color: #B5BFCC;
}
div.card-body1 li a{
    background:none;
}
div.card-body1 li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.42s;
}




.list-group1{
    background: none;
}


.list-group1 p i{
    font-size: 20px;
    color:#f69515;
    background: none;
    padding-right: 10px;
}
.list-group1 p{
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 0px; 
}

.list-group1 p{
    background: none;
    padding: 5px;
    
}
.list-group1 .name{
    border-bottom: 1px solid #b5bfcc2d;
    width: 100%;
    padding-bottom: 20px;
}

.list-group1 a{
    text-align: center;
    background: none;
    text-decoration: none;
}
.list-group1 a i{
    background: none;
}
.list-group1 a{
    color: #B5BFCC;
    align-items: center;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border-radius: 20px;
    border: 1px solid #FD8A18;
    margin-bottom: 15px;
}

.list-group1 a:hover{
    transform: scale(1.05);
    transition: all 0.42s;
    border: 2px solid #FD8A18;
    color: #FD8A18;
}

.navbar .container-fluid #profile{
    border: none;
    width: 30%;
}
.navbar .container-fluid img{
    display: none;
    height: 50%; width: 50%; object-fit: cover;  border-radius: 50%;  -webkit-box-shadow: 0px 0px 17px -5px rgba(255,255,255,1);
                    -moz-box-shadow: 0px 0px 17px -5px rgba(255,255,255,1);
                    box-shadow: 0px 0px 17px -5px rgba(255,255,255,1);padding: 0px; 
    border: none;
    margin-left: 10px;
}
.navbar .container-fluid img:hover{
    border: 3px solid #f69515;
    transform: scale(1.03);
    transition: all 0.42s ease;
}

@media (max-width:560px) {
    .navbar .container-fluid .navbar-brand {
        display: none;
    }
    .navbar .container-fluid .navbar-brand span{
        display: none;
    }
    .navbar .container-fluid img{
        display: block;
    }
    .col-md-4{
        display: none;
    }
}

@media (max-width:500px) {


    .col-md-8{
        justify-content: center;
    }

    .navbar .container-fluid .navbar-brand {
        display: none;
    }
    .navbar .container-fluid .navbar-brand span{
        display: none;
    }
    .navbar .container-fluid img{
        display: block;

    }
}



                        /* About */


.container-right{
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    background: #212428;
    padding: 15px;
}

.container-right h5{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    background: #212428;
    padding: 0;
}

.container-right p{
    background: none;
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 10px;
}
.container-right h5{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    background: #212428;
    padding-left: 20px;
    padding-top: 10px;
}



@media (max-width:500px) {
    .container .row .abt{
        padding: 0px 70px;
    }
}
@media (max-width:430px) {
    .container .row .abt{
        padding: 0px 50px;
    }
}
@media (max-width:380px) {
    .container .row .abt{
        padding: 0px 35px;
    }
}
@media (max-width:350px) {
    .container .row .abt{
        padding: 0px 25px;
    }
}

.container .row{
    background: #212428;
    text-align: center;
}
.container .row .col{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container .row .col:hover{
    transform:scale(1.02);
    transition: all 0.42s ease;
}


.container-right .container .row p{
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.35px;
    text-align: start;
}
.container-right .container .row h3{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    background: none;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.container-right .container .row h3 svg{
    background: none;
    margin-right: 13px;
}

                        /* Work */


.container-work{
    margin-top: 10px;
    border-radius: 20px;
    background: #212428;
    padding: 20px;
}

.container-work h5{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    background: #212428;
    padding-left: 0px;
    border-bottom: 2px solid #FF9C1A;
}
.container-work h5{
    border-bottom: 2px solid #FF9C1A;
    width: 60%;
    margin-left: 20px;
}

.container-work nav .container-fluid button span{
    color: #ffffff;
}
.container-fluid .row .pot{
    padding: 10px;
    padding-top: 10px;
    padding: 5px 30px;
    padding-bottom: 80px;
    padding-top: 30px;

}


@media (max-width:990px) {
    
}


.container-fluid .row .pot:hover{
    background-color: #262a2e;
    transform: scale(1.03);
    transition: all 0.42s ease;
}

.container-fluid .row .pot p{
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
    background: none;
    margin-top: 10px;
    text-align: center;
}
.container-fluid .row .pot h6{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    background: none;
    margin-top: -10px;
    text-align: center;
}


.container-work .navbar .container-fluid .navbar-nav .nav-item a:hover{
    color: #f69515;
    transform: scale(1.1);
    transition: all 0.42s ease;
}

.container .row .col img:hover{
    transform: scale(1);
    transition: all 0.42s ease;
}








.modal .modal-dialog .modal-content .btn-close{
    background-color: #262a2e;
    box-shadow:10px 10px 19px #1c1e22,
                -10px -10px 19px #262a2e;
                background-color: #b5bfcc3b;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 89%;
    margin-top: 3%;
}
.modal .modal-dialog .modal-content .btn-close{
    text-align: end;
}

.modal .modal-dialog .modal-content .container .row .col p{
    text-align: center;
}
.modal .modal-dialog .modal-content .container .row .col h1{
    text-align: center;
    font-size: 30px;
    border: none;
    width: 100%;
    padding-top: 15px;
}
.modal .modal-dialog .modal-content .container .row .col h3{
    text-align: center;
    font-size: 18px;
    border: none;
    width: 100%;
    color: #b5bfcc91;
    line-height: 30px;
    padding-top: 20px;
    margin-bottom:30px;
}


.modal .modal-dialog .modal-content .container .row .col a{
    padding: 12px;
    box-shadow:10px 10px 19px #1c1e22,
                -10px -10px 19px #262a2e;
    font-size: 13px;
    border-radius: 4px;
    text-decoration: none;
    color: #E80505;
    margin: 10px;
}


.modal .modal-dialog .modal-content .container .row{
    background: none;
}
.modal .modal-dialog .modal-content .container .row .col a i{
    padding-left: 10px;
}
.modal .modal-dialog .modal-content .container .row .col{
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal .modal-dialog .modal-content .container .row .col:hover{
    transform: scale(1);
}

.modal .modal-dialog .modal-content .container .row .col .likes:hover{
    background-color: #262a2e;
}


                        /* Resume */


.container-resume{
    margin-top: 10px;
    border-radius: 20px;
    background: #212428;
    padding: 20px;
}

.container-resume  h5{
    color: #CDCAC4;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    background-color: #212428;
    padding-left: 0px;
    border-bottom: 2px solid #FF9C1A;
}
.container-resume h5{
    border-bottom: 2px solid #FF9C1A;
    width: 60%;
    margin-left: 20px;
}

.container{
    border: none;
    background-color: #212428;
    
}

.container.row .col{
    border: none;
    background-color: #212428;
}

.row .col .p-3{
    border: none;
    background-color: #212428;
    
}
.row .col .p-3 h2{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 46.229px; /* 166.667% */
    letter-spacing: 0.693px;
    text-align: start;
    background: none;
    border-bottom: 1px solid #FF9C1A;
    width: 80%;
}
.row .col .p-3 h2 svg{
    margin-right: 10px;
    background: none;
}
.row .col-12{
    border-radius: 10px;
    text-align: start;
    padding: 15px 15px;
    background-color: #FFEED9;
}
.row .col-12 p{
    color: #e80505c0;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
}
.row .col-12 h4{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: none;
}
.row .col-12 h6{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: none;
}


.overflow-hidden{
    background: #212428;
}
.container-right .container .row{
    background: #212428;
}

.skils{
    margin-top: -40px;
}
.row-cols-2{
    background-color: #212428;
}
.row .col h1{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight:450;
    letter-spacing: 0.693px;
    background-color: #212428;
    border-bottom: 1px solid #FF9C1A;
    text-align: start;
    width: 60%;
    line-height: 40.229px; /* 166.667% */
}



.row .col-12{
    background: none;
    
}
.row .col-12 .col{
    background: none;
    color: #B5BFCC;
    font-family: poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 200% */
    letter-spacing: 0.24px;
    margin: 0;
    padding-top: 15px;
}

.progress-charts .progress .progress-bar{
    border-radius: 14px;
    background: linear-gradient(145deg, rgb(240, 41, 129) 0%, rgb(200, 25, 1) 100%);
    font-size: 7px;
    text-align: end;
    position: relative;
}

.progress-charts .progress{
    height: 6px;
    margin-bottom: 10px;
}

.progress-charts .progress .progress-bar span.percent-label{
    background: none;
}



                        /* Contact */


.container-contact{
    margin-top: 10px;
    border-radius: 20px;
    background: #212428;
    padding: 20px;
}

.container-contact h5{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    background: #212428;
    padding-left: 0px;
    border-bottom: 2px solid #FF9C1A;
}
.container .row{
    margin-top: 10px;
}
.container-contact h5{
    border-bottom: 2px solid #FF9C1A;
    width: 60%;
    margin-left: 20px;

}
.container-contact .row .col{
    text-align: start;
    padding-top: 20px;
    padding-left: 20px;

}
.container-contact .row .col svg{
    margin-right: 20px;
    background: none;
}
.container-contact .row .col h4{
    color: #B5BFCC;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 250% */
    letter-spacing: 0.4px;
    background: none;

}
.container .row .col p{
    color: #B5BFCC;
    font-family: Poppins;
}
.container .row .sms{
    padding-bottom: 20px;
}
.container-contact .row .col form .mb-3 input{
    border: none;
    border-bottom: 1px solid #b5bfcc68;
    margin-bottom: -10px;
    color: #B5BFCC;
    background: none;
}

.container-contact .row .col form .mb-3 label{
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 0.4px;
}
.container-contact .row .col form .mb-3 textarea{
    border: none;
    border-bottom: 1px solid #b5bfcc68;
    background: none;
    opacity: 0.9;
    color: #fff;
}
.container-contact .row .col form button{
    border: none;
    color: #B5BFCC;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 166.667% */
    border: 2px solid #FF9C1A;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #FD8A18;
    margin-bottom: 15px;
    
}
.container-contact .container .row .col .detailss{
    text-align: start;
}
.container-contact .row .col  p{
    text-align: start;
    color: #0b0909;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 285.714% */
    letter-spacing: 0.35px;
}

.container .row .pot{
    padding: 20px;
}

.container-contact .row .col form button:hover{
    transform: scale(1);
    transition: all 0.42s;
    border: 2px solid #FD8A18;
}

.message .success{
    color: green;
    display: none;
}
.message .danger{
    color: red;
    display: none;
}
/*
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}


                            /* arrow */

.container-fluid .up-arrow{
    bottom: 20px;
    right: 20px;
    position: fixed;
    background: none;
}
.container-fluid .up-arrow a{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.container-fluid .up-arrow a i{
    font-size: 45px;
    border-radius: 50%;
    border: none;
    color: #FFFFFF;
}


                                /* footer */

.card-footer{
    text-align: center;
    margin-top: 80px;
    background: none;
}

.card-footer h1 b{
    font-size: 30px;
    padding: 25px;
    border-radius: 50%;
    background-color: #212428;
    box-shadow:10px 10px 19px #1c1e22,
                -10px -10px 19px #262a2e;
}
.card-footer h1{
    margin-top: -40px;
    background: none;
}
.card-footer p{
    font-size: 14px;
    color: #B5BFCC;
    margin-top: 40px;
}